* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 120%;
}

section {
  margin: 0 auto;
  text-align: left;
}

#games {
  background-color : #e96851;
}

#games h1 {
  margin-top: 50px;
}

#games h1, h3 {
  font-weight: bold;
}

#movies {
  background-color : #a0d8f4;
}

#movies h1 {
  margin-top: 50px;
}
  
#movies h1, h3 {
  font-weight: bold;
}

#resume {
  background-color : #f0f0f0;
}

section {
  margin-bottom: 20px;
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

h1, h2, h3 {
  font-family: 'Tilt Neon', sans-serif;
}

section p
section iframe,
section img {
  text-align: center;
  margin: 0 auto;
}

/* Resume-specific styles */
#summary,
#education,
#experience,
#experience h4,
#skills,
#volunteer-work {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

#summary h2,
#education h2,
#experience h2,
#experience h4,
#skills h2,
#volunteer-work h2 {
  font-weight: bold;
}

/* Movies-specific styles */
#oceans11,
#silentvoice,
#walle,
#spiderverse,
#darkknight,
#hachi {
  text-align: center;
}

/* Games-specific styles */
#hotline,
#bioshock,
#left_4_dead_2,
#super_mario_galaxy,
#outlast {
  text-align: center;
}

/* Game-specific styles */
#hotline img,
#bioshock img,
#left_4_dead_2 img,
#super_mario_galaxy img,
#outlast img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#hotline iframe,
#bioshock iframe,
#left_4_dead_2 iframe,
#super_mario_galaxy iframe,
#outlast iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Movie-specific styles */
#oceans11 img,
#silentvoice img,
#walle img,
#spiderverse img,
#darkknight img,
#hachi img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#oceans11 iframe,
#silentvoice iframe,
#walle iframe,
#spiderverse iframe,
#darkknight iframe,
#hachi iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Map stuff */
#map_page {
  background-image: url("../images/solarsystem.png");
}

#wrapper {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: 45px auto;
}

#canvas {
  width: 700px;
  height: 500px;
  background-color: black;
  margin: 45px auto;
}

#maptitle {
  color: #a0d8f4;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 40px;
  border-radius: 10px;
  padding-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
	font-size: 16;
  }
  
  section {
	margin: 10px;
  }
  
  nav ul li {
	display: block;
	margin: 10px 0;
  }
  
  nav ul li a {
	display: block;
	width: 100%;
  }
  
  #maptitle {
    font-size: 30px; 
  }

  #wrapper {
    width: 90%; 
    margin: 20px auto; 
  }

  #canvas {
    width: 100%; 
  }
}

@media screen and (max-width: 800px) {
  body {
	font-size: 18px;
  }
  
  section {
	margin: 10px;
  }
  
  nav ul li {
	display: block;
	margin: 10px 0;
  }
  
  nav ul li a {
	display: block;
	width: 100%;
  }
  
  #maptitle {
    font-size: 30px; 
  }

  #wrapper {
    width: 90%; 
    margin: 20px auto; 
  }

  #canvas {
    width: 100%; 
  }
}